<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/footer.css">
</head>
<body>
    <footer>
        <ul>
            <li><a href="/about">know more</a></li>
            <li><a href="/contact">get in touch</a></li>
            <li><a href="/resume">see resume</a></li>
            <li><a href="/projects">see my projects</a></li>
        </ul>
    </footer>
</body>
</html>