*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 80px;
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul{
    list-style: none;
    display: flex;
}
li a{
    list-style: none;
    text-decoration: none;
}
a{
    padding-left: 2rem;
    font-size: 1.2rem;
    color: bisque !important;
}